
.topButtons button{
    margin-left: 30px;
    background-color: #540B51;
    color: #540B51;
    border: none;
} 

.topButtons img{
    height: 75px;
    width: 75px;
}

.top-bar{
    background-color:#540B51 ;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    margin: 1;
    width: 100%;
}

body{
    background-color: #540B51;
    width: 100%;
}

body>header>div {
    background-color: #540B51;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body>header>div>div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

body>header>div>div>button {
    width: 400px;
    height: 50px;
    display: block;
    margin: 5px auto;
    border-radius: 3px;
    border: none;
    text-transform: uppercase;
}

.greatTeamwork {
    background-color: #540B51;
}

.greatTeamwork h1{
    text-align: center;
    text-justify: auto;
    font-weight: lighter;
    font-size: 250%;
    color: white;
}

.responsive {
    max-width: 100%;
}

.responsive2 {
    max-width: 100%;
    text-align: right;
}

.signButton {
    background-color: white;
    color: #540B51;
    font-weight: bolder;
    width: 80%;
}

.googleButton {
    background-color: #4285F4;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.googleButton img{
    height: 1.5rem;
    background-color: white;
    padding: 0.5rem 0.7rem;
    border-radius: 0.2rem;
}

.googleButton span{
    color: white;
    margin: auto;
}

body>header>div p>span {
    color: #ECB12F;
}

header>div p{
    color: white;
}

.logo {
    width: 100px;
}

body {
    overflow-x: auto;
    font-family: sans-serif; 
    display: block;
    font-size: 18px;
} 


.mainCompanies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

body>main>section{
    background-color: #F3EAE2;
    width: 100%;
    justify-content: center;
}

body>main>section>p{
    text-transform: uppercase;
    font-weight: bolder;
    padding: 40px 0;
    text-align: center;
    font-size: 70%;
}

body>main section>div>img{
    justify-content: right;
}

.titulo {
    font-size: 1.2rem;
    font-weight: bolder;
    padding-left: 0.5rem;
    padding-bottom: 1.5rem;
    padding-top: 2rem;
}

.description {
    font-size: 0.9rem;
    padding-left: 0.9rem;
}

.link {
    font-size: 0.7rem;
    padding-left: 0.9rem;
    color: #2E71A6;
    padding: 0.5rem 0;
    text-decoration-style: none;
}

.section3 {
    background-color: white;
    padding: 2rem 0;
    word-wrap: break-word;
    margin: auto;
}

.description3 {
    text-transform: lowercase;
    padding: 1rem;
}

.middleButton1 {
    padding: 1rem;
    background-color: #540B51;
    color: #540B51;
    border: none;
    color: white;
    margin: 1 rem;
    text-transform: uppercase;
    border-radius: 0.2rem;
} 

.middleButton2 {
    padding: 1rem;
    background-color: white;
    color: #540B51;
    border-color: solid #540B51;
    box-shadow: none;
    border-radius: 0.1rem;
    margin: 1 rem;
    text-transform: uppercase;
    border-radius: 0.2rem;
} 

.buttons2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.numbers span{
    font-size: 2rem;
    font-weight: bolder;
    color:#540B51;
    justify-content: center;
    align-items: center;
}

.numbers p{
    text-align: center;
    font-size: 0.7rem;
    margin: 1rem 8rem;
    font-weight: bolder;
}

.percentage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5rem 0;
}

.section4 {
    background-color: #540B51;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
}

.section4 h3{
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.endButton1 {
    padding: 1rem;
    background-color: #540B51;
    border-color: white;
    color: white;
    margin: 1rem;
    text-transform: uppercase;
    border-radius: 0.2rem;
} 

.footer{
    background-color: blue;
}

img.bottomLogo {
     height: 3rem;
     margin: 2rem 1rem;
}

.columna {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.columnasTotales{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 0.70rem;
}

.columna li>b{
    color: black;
    font-size: 0.8rem;
}

.columna li{
    font-size: 0.6rem;
    margin: 1rem 0.5rem;
    color: rgb(110, 110, 110);
}
.otherOptions {
    font-size: 0.6rem;
    font-weight: bolder;
    list-style: none;
}

.otherOptions li{
    margin: 1rem;
}
 hr {
    margin: 0.7rem;
    border-color: lightgray;
 }

 li.blue {
    color: #2E71A6;
 }

 .rrss {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    margin: 1rem;

 }

 .copy {
    font-size: 0.7rem;
    text-align: center;
    color: gray;
 }

@media screen and (max-width: 768px) {
    .responsive {
      width: 100%;
      height: auto; 
    }
  } 
  

@media (min-width: 800px) and (max-width: 1086px) {
   body {
    background-color: red;
   } 
}